body{
    margin:0;
    font-family:Arial;
    background:#f5fff5;
}

nav{
    background:green;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    background:white;
    padding:40px;
    width:350px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input,select{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    width:100%;
    padding:12px;
    margin-top:20px;
    border:none;
    background:green;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#006400;
}

.dashboard{
    padding:30px;
}

.form-box,
.table-box{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th,
table td{
    border:1px solid #ddd;
    padding:12px;
}

.action-btn{
    width:auto;
    padding:8px 15px;
    margin:2px;
}